* {
  font-family: Helvetica Neue;
}

body {
  padding: 0;
  margin: 0;  
}

.container {
  height: 600px;
  width: 960px;
  position: relative;
}

.container .bg-wallpaper {
  height: 100%;
}

.menubar {
  position: absolute;
  top: 0;
}

.menubar img {
  width: 960px;
}

.dock {
  position: absolute;
  left: 0;
  bottom: 120px;
  height: 400px;
}

.dock img {
  height: 100%;
}

.search {
  position: absolute;
  top: 0;
  height: 40px;
  width: 960px;
  background: rgba(0, 0, 0, 0.2);
}

.search input {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 40px;
  width: 900px;
  color: white;
  position: absolute;
  z-index: 1000;
  left: 30px;
  top: 10px;
}

.apploader {
  position: absolute;
  bottom: 0;
  height: 100px;
  /*background: rgba(0, 0, 0, 0.5);*/
  width: 960px;
}

.apploader,
.search {
  display: none;
}

.app-visited {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  position: relative;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  background: rgba(72, 74, 72, 0.6);
}

.app-visited img {
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: auto;

}

/*.app-frame {
  background: rgba(72, 74, 72, 0.4); 
}
*/

.app-selected {
  border: white solid 2px;
  background: rgba(72, 74, 72, 0.4);
}


.search-loader {
  width: 960px;
  height: 400px;
  position: absolute;
  bottom: 200px;
}

.app-search {
  width: 70px;
  height: 80px;
  padding: 10px; 
}

.search-result {
  width: 100px;
  height: 400px;  
  position: relative;
  top: 100px;
  left: 100px;
  display: inline-block;
  background: rgba(72, 74, 72, 0.4);
}

.search-top-hit {
  background: rgba(72, 74, 72, 0.8);
}

.result-app-icon {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.result-app-name {
  /*font: 13px "HelveticaNeue-Bold";*/
  font-size: 13px;
  color: white;
  text-align: center;
}

.result-desc {
  font-size: 12px;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;

}



